@import "_flex";
@import "_mediaq";

body {
  background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}

.menu {
  background: #9BAA8B;
  height: 40px;
  padding: 0 10px;

  .nav-right {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
    list-style-type: none;
    margin: 0;
    padding: 12px 0 0 0;

    li {
      padding-left: 15px;
      @include media("<=355px") {
        padding-left: 8px;
      }

      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8em;
        @include media(">=500px") {
          font-size: 1.1em;
        }
        &:hover {
          text-decoration: none;
          color: #6A6D67;
        }
      }
    }
  }
}

.section-header {
  background: #FFFFFF url(../img/bg-top-bar.png) repeat-x left top;
  margin-bottom: -20px;

  .container {
    background-image: url(../img/banner_completo.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    min-height: 200px;

    @include media(">=358px") {
      min-height: 220px;
    }

    @include media(">=480px") {
      min-height: 260px;
    }

    @include media(">=620px") {
      min-height: 290px;
    }

    @include media(">=776px") {
      min-height: 340px;
    }

    @include media(">=1000px") {
      min-height: 410px;
    }
  }
}

.phase {

  .container .phase-title {
    @extend .phase-title;
  }

  .phase-title {
    background: url(../img/barra_blank.png) no-repeat center center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 43px;
    margin-bottom: 2em;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #FFFFFF;
    font-size: 2.2em;
  }

}

.section-gallery {
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include align-items(center);
  margin-bottom: 35px;
  padding: 0 10px;

  img {
    width: 40%;
    @include media(">=580px") {
      width: 22%;
    }
  }
}

.section-build {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  margin-bottom: 35px;
  padding: 0 10px;

  img {
    max-width: 100%;
  }
}

.section-location {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  margin-bottom: 35px;
  padding: 0 10px;

  img {
    max-width: 100%;
  }
}

.section-contact {
  margin-bottom: 35px;
  background-color: #8B9B7B;
  background-image: url(../img/familia-contato.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 44% 62%;
  min-height: 500px;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  margin-top: -85px;
  position: relative;
  z-index: -1;
}

.phase-contact {
  margin-bottom: 35px;
  background-color: #8B9B7B;
  background-image: url(../img/casal-contato.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
  min-height: 500px;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;

  @include media(">=1060px") {
    background-size: 30% 70%;
  }

  .container .phase-title {
    background: url(../img/barra_blank.png) no-repeat center center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 43px;
    margin-bottom: 2em;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #FFFFFF;
    font-size: 2.2em;
    position: absolute;
    margin-top: -22px;
    width: 100%;
    max-width: 1100px;
  }

  .container .address-area {
    p {
      color: #fff;
      font-size: 1.1em;
      line-height: 2em;
    }

    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
  }

}

.section-partners {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  padding-bottom: 18px;
  padding-top: 20px;

  img {
    width: 28%;
    max-width: 365px;
    margin: 0 8px;
  }
}

.white {
  background-color: #ffffff !important;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #50702D;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-transform: uppercase;
}

.msg-confirm {
  background-color: #9AEC3C;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  display: none;
  padding: 4px;
  border-radius: 6px;
}